<div class="movie">
  <img class="img-circle" src="{{image}}" alt="{{movie}}">
  <h2>{{movie}}</h2>
  <div>Director: {{director}}</div>
  <div>Year: {{year}}</div>
  <a href="/movie/{{id}}/edit">Edit</a>
</div>
