<div class="movie">
  <img class="img-circle" src="{{image}}" alt="{{movie}}">
  <h2>{{movie}}</h2>
  <div>Director: {{director}}</div>
  <div>Year: {{year}}</div>
  <a href="/movie/{{id}}/edit" style="text-decoration:none">Rate</a>
</div>

<div>
  Comments:
  <ul>
    {{#each comments}} 
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
