<div class="movie">
  <img class="img-circle" src="{{image}}" alt="{{movie}}">
  <h2>{{movie}}</h2>
  <div><h3>Director: {{director}}</h3></div>
  <div><h3>Year: {{year}}</h3></div>
  <a href="/movie/{{id}}/edit" style="text-decoration:none">Rate and Comment</a>
</div>

<div class="comments">
  <h3>
  Comments:</h3>
  <ul>
    {{#each comments}} 
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
