<form class="form" action="/movie/{{id}}/edit" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{movie}}">
  </label>
  
  <label for="breed" class="form-item">
    Director:
    <input type="text" name="director" value="{{director}}">
  </label>
  
  <label for="owner" class="form-item">
    Year:
    <input type="text" name="year" value="{{year}}">
  </label>
  
  <input type="hidden" name="image" value="{{image}}">
  
  <input type="submit" name="" value="Submit">
</form>
