<form class="form" action="/movie/{{id}}/edit" method="post">
  <img class="img-circle" src="{{image}}" alt="{{movie}}">
      <fieldset>
            <legend>Rate: {{movie}}</legend>
            <p>
              <input type="radio" name="food" id="tacos" value="tacos" />
              <label for="Good">Good</label>
            </p>
             <p>
              <input type="radio" name="food" id="tacos" value="tacos" />
              <label for="some good parts">Some good parts</label>
            </p>
            <p>
              <input type="radio" name="food" id="pizza" value="pizza" />
              <label for="Average">Average</label>
            </p>
             <p>
              <input type="radio" name="food" id="tacos" value="tacos" />
              <label for="mostly bad">Mostly Bad"</label>
            </p>
            <p>
              <input type="radio" name="food" id="other" value="other" />
              <label for="bad">Bad</label>
            </p> 
            <label for="name" class="form-item">
    comment:
    <input type="text" name="comments" placeholder="director: {{director}}">
  </label>
          </fieldset>
 
  

  
  <input type="submit" name="" value="Submit">

</form>
