<div class="container">
  {{#each horrorMovies}}
  <div class="movie-list">
    <a href="/movie/{{id}}" style="text-decoration:none"><img class="img-circle" src="{{image}}" alt="{{movie}}">
      <h2>{{movie}}</h2>
      <h2>{{rating.averageRating}}/5&#11088;</h2>
    </a>
  </div>
  {{/each}}
</div>

<audio>
	<source src="/sounds/horror_female_scream_001.mp3"></source>
</audio>

<script>
var audio = document.getElementsByTagName("audio")[0];
audio.play();
</script>

